.left {
  float: left;
}
.main.section {
  margin-right: 242px;
}
.right {
  float: none;
}
.sidebar {
  width: 242px;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper {
  border: 1px solid #666;
  font-family: Arial;
  width: 100%;
  position: relative;
  overflow: hidden;
}
