azul = #1570bc

.col-1-2
	width 49%

.btn-gray
	background-color #f0f0f0
	border-color #dddddd
	border-style outset
	border-width 1px
	color #666
	cursor pointer
	padding 10px 20px
	box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)
	-moz-box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)
	-webkit-box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)

.btn-blue
	background-color azul
	border-color #dddddd
	border-style outset
	border-width 1px
	color #FFF
	cursor pointer
	padding 10px 20px
	box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)
	-moz-box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)
	-webkit-box-shadow 0 1px 2px rgba(0, 0, 0, 0.6)

.left
	float left

.right
	float right

.fix-overflow
	overflow hidden

.wrapper
	border 1px solid #666
	color #333
	font-family Arial
	font-size 16px
	min-width 800px
	min-height 650px
	overflow hidden
	position relative
	width 100%
	
	h1,
	h2
		font-weight normal
		margin 0
		padding 0

	h1
		font-size 30px

	h2
		font-size 20px


	.sidebar
		h3
			font-weight normal
			font-size 14px
			margin 10px 30px
			color #111

		h4
			font-weight normal
			font-style italic
			font-size 14px
			margin 10px 30px
			color #666

		hr
			border 0
			border-top 1px solid #999
			margin 20px 0

		.figure.user
			margin-top 58px
			text-align center

		.trayectoria
			font-weight bold
			margin 10px 30px

		.last-date
			color #666
			font-size 14px
			margin 10px 25px
		
		.graphic
			#status
				margin 0 auto

	.main.section
		width 100%

		.container
			margin-right 242px
			padding 20px

			& > span
				display block
				margin-bottom 20px
				color azul
				font-weight bold

			.row.summary
				min-height 210px
				position relative

				& > .left
					margin-right 227px

					h1
						margin-bottom 20px

					.info
						p
							margin 14px 20px

				.alert-wrapper
					background azul
					color #FFF
					position absolute
					right 0
					top 0
					width 227px

					.alert1
						padding 20px

						.alert-icon
							background url("../img/alert-icon.png")
							display block
							height 48px
							margin-right 15px
							width 48px
		
		.general-form
			float left
			width 100%

			label
				display block
				float left

			textarea
				width 99%
				margin-top 20px
				height 151px
				resize vertical

			.title
				margin-top 40px
				border-bottom 1px solid #999
				padding-bottom 10px
				color #111

			.row
				input[type="text"]
					width 99%

				label
					width 98px
					line-height 26px

				& > .input-wrapper,
				.two-colums-wrapper
					max-width 800px

				.input-wrapper
					margin 15px 0

					div
						padding-left 100px
					
				.two-colums-wrapper
					overflow hidden

					.input-wrapper.cel
						div
							padding-right 7px

				.wrapper-title2
					position relative
					overflow hidden
					min-height 40px

					.left
						padding-right 20px
						color azul

					.left,
					.right
						background white

					.line
						border-top 1px solid #999
						margin-top 13px
						position absolute
						width 100%
						z-index -1

					.right
						padding-left 20px

						.agregar
							text-decoration none
							display block
							background azul
							border-radius 5px
							color white
							padding 10px 15px
							text-align center

			.row.profesional-profile
				.character-limit
					margin-right 20px
					font-size 12px
					color #666		
			
			.row.calification
				.col-1-2
					input
						width 85%

			.row.educational-category
				button.pregrado
					margin-right 25px

				.subtitle
					color #999
					margin-top 30px

				.date
					font-size 14px
				
				.info-category
					background #ebebeb
					padding 15px 0px 10px
					margin-bottom 30px

					p
						margin 0 25px
						
					label
						margin-right 12px
						line-height normal
						width auto
			
			.send-cancel-btns
				.cancel
					background none
					border 0 none
					color #333
					cursor pointer
					line-height 42px
					margin-right 15px

					&:hover
						text-decoration underline

		.general-form.actividad-docente
			& > .row
				.wrapper-title2
					margin-top 80px
					margin-bottom 20px

				&:first-child
					.wrapper-title2
						margin-top 0

			.informacion-wrapper
				.act-doc-table
					tr
						th,
						td
							padding 10px
							text-align center

					.gray
						background #F0F0F0
			
		.general-form.inner-wrapper
			& > .row
				.wrapper-title2
					margin-top 40px

				&:first-child
					.wrapper-title2
						margin-top 0

			.informacion-wrapper.consult
				margin-bottom 40px

			.informacion-wrapper
				margin-top 20px
				position relative
				width 100%

				p
					margin 5px 0
					font-size 14px

				.fecha,
				.fecha-curso
					display block
					font-size 13px
					margin-top -8px
					position absolute
					right 0
					top 50%

				.fecha-curso
					margin-top 0
					top 0

				.agregado-por
					background #f0f0f0
					display inline-block
					*display inline
					font-style italic
					padding 10px

				.ver-mas
					display inline-block
					*display inline
					position absolute
					cursor pointer
					color azul
					padding-right 20px
					line-height 16px
					top 25px
					right 0

					&:hover
						border-bottom 1px solid azul

					span
						font-size 40px
						line-height 11px
						position absolute
						top 0
						right -2px

				.ver-mas-detalle
					margin-top 20px
					display none

					.detalle-titulo
						color #666
						font-weight bold
				

		.general-form.informacion-academica
			& > .row
				.wrapper-title2
					margin-top 40px

				&:first-child
					.wrapper-title2
						margin-top 0

			.informacion-wrapper
				margin-top 20px
				position relative
				width 100%

				p
					margin 5px 0
					font-size 14px

				.idiomas-table
					tr
						td,
						th
							text-align left
							padding 10px

						th
							font-weight normal
							color #999

						td
							&:first-child
								font-weight bold
								padding-right 30px
					

				.carrera
					font-weight bold
					font-size 15px

				.curso
					font-weight bold

				.curso-descripcion
					padding-right 130px

				.grado
					color #999

				.fecha,
				.fecha-curso
					display block
					font-size 13px
					margin-top -8px
					position absolute
					right 0
					top 50%

				.fecha-curso
					margin-top 0
					top 0

				.no-encontrados
					color #999
					font-size 17px
					font-weight bold
				

	.row
		overflow hidden
		width 100%
			

	.sidebar
		background #F7F7F7
		height 100%
		position absolute
		right 0
		top 0
		width 242px
